[submodule "ECAPATDNN"]
	path = ECAPATDNN
	url = https://github.com/HDoan043/ECAPA-TDNN
	branch = sv-finetune-v0
[submodule "aasist"]
	path = aasist
	url = https://github.com/HDoan043/AASIST
	branch = sa-finetune-v0
